*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap{
  width: 85%;
  margin: 0 auto;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
}

body, input {
  display: -webkit-flex;
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
}

.timeLeft-label {
  color: red;
  font-size: 1rem;
  line-height: 1;
  margin: 0 0 20 0px;
}
.timer{
  border-left: 1px solid red;
  padding-left: 2rem;
}
.count {
  color: red;
  margin: 0;
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
}
